.tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;    
}

.noChars{
    color: #EDF2F4;
    text-shadow: 0px 0px 5px #bdde3f;
    font-style: italic;
}