.detalle {
    background: linear-gradient(to bottom, rgb(30, 31, 91) 0%, rgb(27, 159, 190) 76%, rgb(105, 199, 163) 100%);
    border: solid #040926 5px;
    /* border: 1px solid black; */
    border-radius: 15px;
    width: 90%;
    margin: 60px auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    /* align-items: center; */
}

.info {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;

}

.info h1 { 
    font-size: 28px;   
    text-align: left;
    width: 100%;
    margin: 10px auto;
    padding: 7px;
    background: #040926;
    color: #EDF2F4;
    border-radius: 7px;
    box-shadow: 0px 0px 5px #fff;
    text-shadow: 0px 0px 5px #bdde3f;
}

.info h2 {    
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
    background: #040926;
    color: #EDF2F4;
    border-radius: 7px;
    box-shadow: 0px 0px 5px #fff;
    text-shadow: 0px 0px 3px #bdde3f;
}

.italica {
    font-style: italic;
}

.imagen {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}

.imagen img {
    width: 325px;
    border-radius: 10px;
    border: solid #040926 5px;
    box-shadow: 0px 0px 10px #fff;
}